.full-menu {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  overflow-y: hidden;
  background: #245a7e;
  z-index: 3;
  height: 130%;
}

@media screen and (max-width: 1025px) {
  .full-menu {
    min-height: 100%;
    height: auto;
    padding-bottom: 30px;
  }
}

.full-menu .header {
  width: 100%;
  padding: 30px 0 0 0;
  background: #245a7e;
  z-index: 5;
  position: relative;
  max-width: 1363px;
  margin: auto;
}

.full-menu .header .header-container {
  max-width: 1363px;
  padding-left: 20px;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.mobile-title-2, .mobile-title-3 {
  color: white;
}

@media screen and (max-width: 1025px) {
  .desktop-only {
    display: none !important;
  }
}

@media screen and (min-width: 1025px) {
  .mobile-only {
    display: none !important;
  }
}

.w-1 {
  width: 10%;
}

.w-2 {
  width: 20%;
}

.w-3 {
  width: 33%;
}

.w-4 {
  width: 50%;
}

.menu-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  font-size: 22px;
  max-width: 1363px;
  margin: auto;
}

@media screen and (max-width: 1025px) {
  .menu-container {
    display: block;
    padding-left: 10%;
  }
}

.menu-container ul {
  list-style: none;
}

.menu-container .sub-menu-wrapper, .menu-container .main-menu-wrapper, .menu-container .third-menu-wrapper {
  width: 30%;
  background: #245a7e;
  height: 100%;
  display: flex-start;
  padding-top: 30px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 2%;
  z-index: 3;
}

@media screen and (max-width: 1025px) {
  .menu-container .sub-menu-wrapper, .menu-container .main-menu-wrapper, .menu-container .third-menu-wrapper {
    width: 100%;
    padding-right: 10%;
  }
}

.menu-container .sub-menu-wrapper li, .menu-container .main-menu-wrapper li, .menu-container .third-menu-wrapper li {
  color: #9ed8d1;
  padding: 10px;
  margin-right: 15px;
  position: relative;
  border-bottom: 1px solid transparent;
}

.menu-container .sub-menu-wrapper li:hover, .menu-container .main-menu-wrapper li:hover, .menu-container .third-menu-wrapper li:hover {
  color: #e3f9ff;
  border-bottom: 1px solid #e3f9ff;
}

.menu-container .sub-menu-wrapper li .svg-element, .menu-container .main-menu-wrapper li .svg-element, .menu-container .third-menu-wrapper li .svg-element {
  fill: inherit;
  position: absolute;
  right: 0;
  top: 50%;
  -webkit-transform: translatey(-50%);
          transform: translatey(-50%);
  max-width: 25px;
}

.menu-container .sub-menu-wrapper li a, .menu-container .main-menu-wrapper li a, .menu-container .third-menu-wrapper li a {
  color: inherit;
  display: inline-block;
  width: 105%;
  height: 100%;
  position: relative;
  z-index: 5;
}
@media screen and (max-width:351px){
  .menu-container .sub-menu-wrapper li a, .menu-container .main-menu-wrapper li a, .menu-container .third-menu-wrapper li a {
    padding-right:20px;
  }
}
.menu-container .sub-menu-wrapper, .menu-container .third-menu-wrapper {
  border-left: 1px solid #bec0c3;
  padding: 30px 2%;
}

@media screen and (max-width: 1025px) {
  .menu-container .sub-menu-wrapper, .menu-container .third-menu-wrapper {
    padding: 30px 2%;
    border: none;
  }
}

.menu-container .main-menu-wrapper {
  background: #245a7e;
}

@media screen and (min-width: 1025px) {
  .menu-container .main-menu-wrapper {
    padding-right: 2%;
  }
}

.sub-menu-wrapper li svg, .main-menu-wrapper li svg, .third-menu-wrapper li svg {
  fill: currentColor;
  position: absolute;
  right: -12px;
  top: 50%;
  -webkit-transform: translatey(-10%);
  transform: translatey(-10%);
  z-index: 3;
}
.menu-header-logo {
  width: 25%;
}
.menu-header-logo img{
  max-width:280px;
}

@media screen and (max-width: 1025px) {
  .menu-header-logo {
    width: 100%;
  }
  .menu-header-logo img{
    max-width:230px;
  }
}
@media screen and (max-width: 750px){
    .menu-header-logo img{
    max-width:180px;
  }
}
.mobile-back-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding-left: 2%;
  padding-top:10px;
  display: none;
  font-size: 17px;
}

.mobile-back-wrapper .svg-element {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

#mobile-back-btn {
  color: #82d8d1;
  padding-left: 10%;
}

#mobile-back-btn:hover {
  cursor: pointer;
  color: #e3f9ff;
}

.menu-close {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #9ed8d1;
  font-size: 18px;
}

@media screen and (max-width: 1025px) {
  .menu-close {
    font-size: 16px;
  }
}

.menu-close:hover {
  cursor: pointer;
  color: #e3f9ff;
}

.menu-header-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 65%;
}

.menu-header-links .inner-link:nth-child(1) {
  margin-right: 5%;
}

.menu-header-links .inner-link:nth-child(2) {
  margin-right: 5%;
}

.menu-header-links .inner-link .header-link {
  border-bottom: 1px solid #9ed8d1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 28px;
  color: #9ed8d1;
  position: relative;
  padding: 5px;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.menu-header-links .inner-link .header-link .icon-text {
  font-size: 18px;
}

.menu-header-links .inner-link .header-link:hover {
  color: #e3f9ff!important;
  border-bottom: 1px solid #e3f9ff;
}

.menu-header-links .inner-link .header-link svg {
  margin-right: 8px;
  width: 23px;
  position: relative;
  bottom: -9px;
  fill: currentColor;
  -webkit-transform: scale(1);
          transform: scale(1);
}

.mobile-links {
  display: block;
  width: 100%;
  padding-left: 10%;
}

.mobile-links .header-link {
  border-bottom: none !important;
}

.mobile-links .header-link .icon-svg {
  border-bottom: 1px solid #9ed8d1;
}

@media screen and (max-width: 1025px) {
  .mobile-links .header-link svg {
    -webkit-transform: scale(1) !important;
            transform: scale(1) !important;
  }
}

@media screen and (max-width: 1025px) {
  .mobile-links .header-link .icon-text {
    font-size: 18px !important;
    border-bottom: 1px solid #9ed8d1;
  }
}

.h-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.burger-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 600;
  color: #245a7e;
  -webkit-box-pack: end;
}

#hamburger {
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
}

#hamburger .line {
  fill: none;
  stroke: #000000;
  stroke-width: 6;
  -webkit-transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1), stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1), stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
}

#hamburger .line1 {
  stroke-dasharray: 60 207;
  stroke-width: 6;
}

#hamburger .line2 {
  stroke-dasharray: 60 60;
  stroke-width: 6;
}

#hamburger .line3 {
  stroke-dasharray: 60 207;
  stroke-width: 6;
}

.menu-close-text {
  margin-top: -15px;
}

.menu-close-svg-icon {
  width: 2em;
  height: 2em;
}

.menu-close-svg-icon path, .menu-close-svg-icon polygon, .menu-close-svg-icon rect {
  fill: currentColor;
}

.menu-close-svg-icon circle {
  stroke: currentColor;
  stroke-width: 1;
}

.dbm-form {
  margin-right: 35px;
  position: relative;
}
@media screen and (max-width:1025px){
  .dbm-form{
    margin-right:0;
  }
}

.dbm-form input, .dbm-form #s {
  border: none;
  border-bottom: 1px solid #245a7e;
  font-size: 18px;
  font-weight: 600;
  color: #245a7e;
  z-index: 3;
}

.dbm-form input::-webkit-input-placeholder, .dbm-form #s::-webkit-input-placeholder {
  color: inherit;
}

.dbm-form input:-ms-input-placeholder, .dbm-form #s:-ms-input-placeholder {
  color: inherit;
}

.dbm-form input::-ms-input-placeholder, .dbm-form #s::-ms-input-placeholder {
  color: inherit;
}

.dbm-form input::placeholder, .dbm-form #s::placeholder {
  color: inherit;
}

.dbm-form #searchsubmit {
  position: absolute;
  right: 0;
  background: transparent;
  color: transparent;
  color: transparent;
  background: transparent;
  border: none;
}

.dbm-form svg {
  max-width: 22px;
  fill: #245a7e;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 2;
}

@media screen and (max-width: 1025px) {
  .dbm-form svg {
    max-width: 25px !important;
    position: absolute;
  }
}

.db-switcher {
  margin-right: 35px;
}

.db-switcher a {
  font-weight: 600;
}

.dbm-form-inner {
  position: relative;
}

.dbm-form-inner svg {
  max-width: 25px;
  position: absolute;
  fill: #245a7e;
}

.mobile-search-icon {
  max-width: 25px;
  fill: #245a7e;
  margin-right: 15px;
  float: left;
}

.mobile-search-f-wrapper {
  position: absolute;
  width: auto;
  text-align: center;
  border: 1px solid gray;
  padding: 10px;
  bottom: -71px;
  background: white;
  display: flex;
}

.current-active {
  color: #e3f9ff !important;
  border-bottom: 1px solid #e3f9ff !important;
}
@media screen and (min-width:1125px) {
  .sub-menu-wrapper{
    width: 40% !important;
  }
}
@media screen and (min-width:1025px){
  .tablet-only{
    display: none;
  }
}

/*# sourceMappingURL=style.css.map */